<div class="card meetings cf">
	<div class="textintro">
		<h1>Meetings View ^_^ {{message}}</h1>
		<p>Add a meeting (:</p>
		
		<form name="myform" class="formgroup addmeeting cf" ng-submit="addMeeting()" novalidate>
			<div class="inputwrapper">
				<input type="text" name="meetingname" placeholder="Meeting name" ng-model="meetingname"
				       ng-required="true">
			</div>
			<button class="btn" type="submit" ng-disabled="myform.$invalid">+</button>
		</form>
	</div>
</div>
<br>
<div class="card meetings cf">
	<h2>Meetings you're in:</h2>
	<div class="meeting" ng-repeat="(key,meeting) in meetings">
		<span>{{ meeting.name }}</span> &nbsp;
		<button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)">
			<span>Delete Meeting</span>X
		</button>
		
	</div>
</div>