<div class="j-user-card">
	<h1 class="j-point" ng-click="collapse()">User Info Card</h1>
	
	<hr>
	
	<!-- Card Body -->
	<div ng-hide="!!collapsed">
		<p>Welcome <strong>{{user.name}}</strong></p>
		<address></address>
		
		<br>
		<ul>
			<li ng-repeat="friend in user.friends" class="j-friends">
			<span >
				{{friend}}
				<i class="fa fa-times j-point" ng-hide="removing" ng-click="startRemove()"></i>
			</span>
				
				<span ng-show="removing">
				<button ng-click="removeFriend(friend)">Remove</button>
				<button ng-click="cancelRemove()">Cancel</button>
			</span>
			</li>
		</ul>
		
		<br>
		
		<h2 ng-show="!!user.rank">{{user.rank}} <i class="fa fa-check"></i></h2>
		<a href="" ng-show="!user.rank" class="btn" ng-click="knightMe(user)">Knight Me</a>
	</div>

</div>